@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 my-3 mx-3 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700;
  }

  .input-primary {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight  ;
  }

  .adressDiv{
    @apply py-5 my-5 grid md:grid-cols-2 gap-2 lg:grid-cols-4 sm:grid-cols-2 
  }

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}