
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

/***************************************************/

.container{
    border-color: bisque;
    background-color: white;
    width: 50vw;
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    padding: 50px;
    justify-content: space-between; 
}

.formContainer{
    align-items: start;
    justify-content: left;
    width: 50%;
}

.input{
    border-radius: 7px;
    border-color: #007BA7;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    height: 1.5rem;
    width: 15rem;
    margin-top: 7px;
}

.button {

    display: inline-block;
    padding: 7px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#007BA7;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px #999;
    width: 7rem;
    margin-bottom: 20px;
}
  
.button:hover {
    background-color: #fff;
    color:#007BA7;
    font-weight: 600;
}
  
.button:active {
    background-color: #fff;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.buttonContainer{
    display: flex;
    gap: 10px;
}

.withbutton{
    display: flex;
    gap: 1rem;
}

.label{
    color: #00008B;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.select{
    width: 15rem;
    height: 1.5rem;
    border-radius: 7px;
    display: block;
    margin-top: 7px;
    margin-bottom: 20px;
    border-color: #007BA7;
}

.select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 7px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.cardContainer {
    margin-top: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.cardGeneral{
    border-radius:10px ;
    border: solid 2px rgb(65, 63, 63);
    box-shadow: 0 3px #999;
}

.cardInfo{
    padding: 10px; 
    border-radius: 0; 
    border: none; 
    box-shadow: none;
}

.line{
    height: 2px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

.cardBottom{
    position: relative;
}

.chip{
  position: absolute;
  bottom: 0;
  right: 0;
}

.chipArea{
    width: 25px;
    height: 25px;
    background-color: #434345;
    align-items: flex-end;
    justify-content: end;
    border-radius: 5px;
    margin-right: 4rem;
    margin-bottom: 1.5rem;
}

